/* Small screen - same size (180px) */

#searchInput {
    width: 200px;
  }
  
  /* Medium screen */
  @media (min-width: 768px) {
    #searchInput {
      width: 240px;
    }
  }
  
  /* Large screen */
  @media (min-width: 1200px) {
    #searchInput {
      width: 400px;
    }
  }
  